@page
@model OverclockedRazor.Pages.Clientele.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.DOB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.DOB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.BSex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.BSex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.Height)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Height)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.Chest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Chest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.Waist)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Waist)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.Hip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Hip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.Neck)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Neck)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.Forearm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Forearm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.Tricep)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Tricep)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.Bicep)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Bicep)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.Thigh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Thigh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client.Calf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Calf)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Client.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
